<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en" xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->

<head th:replace="fragment/common :: headerFragment"/>
<body>
<script th:src="@{/bower/jqueryui/jquery-ui.js}"></script>
<script th:src="@{/bower/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js}"></script>

<link rel="stylesheet" media="screen" th:href="@{/bower/jqueryui/themes/base/jquery-ui.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/bower/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css}"/>


<section th:replace="fragment/common :: topFragment"/>
<section th:replace="fragment/common :: titleBar (title='Coaching Report')"/>
<textArea th:replace="fragment/common :: questionTemplate"/>
<textArea th:replace="fragment/common :: questionTemplate2"/>
<section id="content1" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Participant: <b th:text="${participant.fullName}">Sammy Particifante</b></p>
            </div>
        </div>
    </div>
</section>

<section id="content" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form th:action="@{/coach/report/} + ${participant.id}" th:object="${coachReport}" method="POST">
                    <input id="timeOnPage" name="timeOnPage" type="hidden"/>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="contactDate">Contact Date</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="contactDate" name="contactDate"
                                   th:errorclass="error"
                                   th:field="*{contactDate}"/>
                            <script type="text/javascript">
                                $(function () {
                                    $('#contactDate').datetimepicker({
                                        timeFormat: "hh:mm tt",
                                        stepMinute: 5
                                    });
                                });
                            </script>
                        </div>
                        <span th:if="${#fields.hasErrors('contactDate')}"
                              th:errors="*{contactDate}">Contact Date Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="contactMethod">Contact Method</label>
                        <div class="col-sm-6">
                            <select id="contactMethod" th:field="*{contactMethod}">
                                <option th:each="type : ${contactTypes}"
                                        th:value="${type}"
                                        th:text="${type}">Phone
                                </option>
                            </select>
                        </div>
                        <span th:if="${#fields.hasErrors('contactMethod')}" th:errors="*{contactMethod}">Contact Method Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="coachingSession">Did you complete a coaching
                            session?</label>
                        <div class="col-sm-6">
                            <input id="coachingSession" type="checkbox" th:field="*{coachingSession}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('coachingSession')}" th:errors="*{coachingSession}">Coaching Session Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="comments">Comments:</label>
                        <div class="col-sm-6">
                            <textarea cols="33" rows="10" id="comments" th:field="*{comments}"/>
                        </div>
                        <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}">Comments Error</span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="nextContactDate">Next Contact</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="nextContactDate" name="nextContactDate"
                                   th:errorclass="error"
                                   th:field="*{nextContactDate}"/>
                            <script type="text/javascript">
                                $('#nextContactDate').datetimepicker({
                                    timeFormat: "hh:mm tt",
                                    stepMinute: 5
                                });
                            </script>
                        </div>
                        <span th:if="${#fields.hasErrors('nextContactDate')}"
                              th:errors="*{nextContactDate}">Next Contact Date Error</span>
                    </div>

                    <div style="text-align:center">
                        <button type="submit" onclick="getTime()"> Continue</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragment/common :: footer"/>
<div th:include="fragment/common :: scripts"/>

</body>
</html>


<!--Javascript
================================================== -->
<div th:include="fragment/common :: scripts"/>
